::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track-piece {
    background-color: #fff;
    width: 2px;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
}

::-webkit-scrollbar-thumb:vertical {
    width: 2px;
    background-color: #FED7DA;
    border-radius: 1000px;
    border: 4px solid #623A03;
    border-top: 7px solid #623A03;
    border-bottom: 7px solid #623A03;
}

@font-face {
    font-family: "consola";
    src: url('https://dl.dropboxusercontent.com/s/ajl0g0haqzjxqs5/CONSOLA.TTF');
}

@font-face {
    font-family: "Nephilm";
    src: url("Nelphim-Font/Nephilm.otf");
}

body {
    color: #3A2218;
    background: #E2A39D;
    background-size: 200px auto;
    background-blend-mode: multiply;
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    height: 100%;
}

.ml13 {
    color: white;
    font-family: 'Nephilm';
    font-size: 6rem;
    font-weight: 500;
    margin-top: 1.5rem;
}

.ml13 .letter3 {
    display: inline-block;
    line-height: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rubik';
    font-weight: 500;
}

h1 {
    font-size: 4.0rem;
    font-weight: 500;
    padding: 5vh;
}

h2 {
    font-size: 1.8rem;
    font-weight: 300;
    color: #555555;
    border-bottom: 1px solid #FED7DA;
}

h3 {
    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'kaori', sans-serif;
}

p {
    font-size: 1.5rem;
}

a {
    color: #4B4B4B;
    text-decoration: none;
}

b,
strong {
    font-weight: 600;
    color: #96E3FC;
}

i {}

ul {
    margin-top: 10px;
    list-style-image: url('./assets/images/arrowleft.gif');
    font-family: 'consola';
}

u {
    color: #FF89A2;
}

.title {
    font-size: 6.8rem;
    font-weight: 300;
    font-family: Nephilm;
    color: #f5e9e4;
}

.pre {
    margin-top: 20px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.pre img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 300px;
    display: block;
}

.login-container {
    background-color: white;
    background-image: url('pinklav.png');
    background-repeat: repeat-x;
    background-size: auto 40%;
    width: 110vh;
    height: 90vh;
    border-radius: 5%;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-flow: column wrap;
    display: none;
    position: fixed;
    z-index: 3;
}

input[type=text] {
    width: 30vh;
    background-color: white;
    border: none;
    border-bottom: 1px solid #3A2218;
    margin-right: 1rem;
}

input[type=color] {
    background-color: white;
    border: 1px solid #3A2218;
}

.header {
    padding: 0rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-flow: column wrap;
    background-image: url('wallpaper.jpeg');
    background-size: cover;
    width: 110vh;
    height: 90vh;
    border-radius: 5%;
}

.widget {
    margin: 1rem 1rem;
    float: left;
    height: 15rem;
    width: 15rem;
    border-radius: 25px;
}

.w1 {
    background-color: #cf8571;
    border: 5px solid #f5e9e4;
    width: 59.5rem;
    letter-spacing: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.w2 {
    background-image: url('ghost.jpeg');
    background-size: 14rem auto;
    border: 5px solid #f4a58a;
}

.w3 {
    background-image: url('me.jpeg');
    background-size: 15rem auto;
    border: 5px solid #f4a58a;
}

.w4 {
    background-color: #f5a99b;
    border: 5px solid #f5e9e4;
    color: white;
    font-family: Karla;
    font-size: 2.5rem;
    text-align: center;
    padding: 2.2rem 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.w5 {
    background-image: url('timebg.jpeg');
    background-size: cover;
    border: 5px solid #f5e9e4;
    color: white;
    font-family: Karla;
    font-size: 2.5rem;
    text-align: center;
    padding: 2.2rem 1.7rem;
    width: 32rem;
}

.w6 {
    background-image: url('resume.JPEG');
    background-size: cover;
    border: 5px solid #f5e9e4;
    color: white;
    font-family: Karla;
    font-size: 2.5rem;
    text-align: center;
    padding: 2.2rem 1.7rem;
}

.w2:hover,
.w3:hover,
.w6:hover {
    box-shadow: inset 0 0 17rem 17rem rgba(0, 0, 0, 0.2);
}

.dot {
    height: 45px;
    width: 45px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    color: white;
    text-align: center;
    padding: -4px 0;
    text-align: center;
    font-family: 'Helvetica Neue';
    font-size: 36px;
    transform: translate(260%, -20%);
    position: absolute;
    z-index: 2;
}

.icon-button {
    background-color: transparent;
    border: none;
    width: 17rem;
    height: 17rem;
}

#avatar {
    background: url(kirby.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FED7DA;
    background-size: 80%;
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 10rem;
    border-radius: 50%;
    position: relative;
    border: 1px solid #fff;
    -webkit-box-shadow: 0 0 10px 2px #ddd;
}

.day {
    font-family: Nephilm;
    font-size: 5rem;
    margin: 0 auto;
}

.date {
    font-family: Nephilm;
    font-size: 2rem;
    top: 11%;
    width: 100%;
}

.time {
    font-family: Nephilm;
    font-size: 1rem;
}

.icons {
    align-items: center;
    padding-top: 0.5rem;
}

.button {
    background-color: white;
    width: 4rem;
    height: 4rem;
    border: 1px solid #3A2218;
    border-radius: 50%;
    color: white;
    margin: 4px 2px;
    cursor: pointer;
    align-items: center;
    overflow: hidden;
}

.button img {
    width: auto;
    height: 120%;
    border: none;
}

button[type=submit] {
    padding: 12px 80px;
    margin: 17px 0px;
    border-radius: 5rem;
    background: #CAADC6;
}

form {
    padding-top: 8rem;
}


/* The Close Button (x) */

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    cursor: pointer;
}

.resume-container {
    background-color: white;
    background-image: url('pinklav.png');
    background-repeat: repeat-x;
    background-size: auto 40%;
    width: 110vh;
    height: 90vh;
    border-radius: 5%;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-flow: column wrap;
    display: none;
    position: fixed;
    z-index: 3;
    vertical-align: middle;
}


/* Add Zoom Animation */

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}